{% extends 'base.html' %}
{% block contenido %}
{% load static%}

<div class="row justify-content-center">
    <div class="card"></div>
    <div class=" col-sm-12 col-md-12 col-lg-5 text-center cover">



        <h4>Organiza tu tiempo</h4>
        <h4>Organiza tu vida</h4>
        <h4>¿Deportes?</h4>
        <h4>¿Hogar?</h4>
        <h4>¿Estudios?</h4>
        <div id="contenedor_logo" style="color: white;">
            <h2> <img src="{% static 'assets/img/logo_1.png'%}" width="80" alt=""> T-Manager </h2>
        </div>

        <h3>REGISTRATE</h4>
    </div>
    <div class=" col-sm-12 col-md-12 col-lg-5 ">

        <div class="text-center" >

              <img src=" {% static 'assets/img/img_1.png' %}" alt="" class="img-thumbnail ">
        </div>

  
   

</div>
</div>
{% endblock %}